#lobby {
    background-color: var(--lobby-bg);
    height: 100%;
}

#lobby > div {
    width: 50%;
    height: 100%;
    padding: 2em;
}

#lobbyList {
    height: 60vh;
}

#lobbyList > div {
    border: solid var(--lobby-border);
    border-radius: 1em;
    padding: 0.2em;
    margin: 0.1em 7em;
    margin-left: 2em;
    justify-content: space-between;
}

#lobbyList > div > *{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#createLobbyRow {
    justify-content: center;
}

#createLobbyRow > * {
    margin: 1em;
}

#lobbyName {
    width: 10em;
}

#highscore {
    position: relative;
}

.highscoreEntry {
    margin: 0em;
    position: relative;
}

.highscorePoints {
    position: absolute;
    right: 5em;
}

.highscorePlacement {
    padding: 0;
    margin-right: 1.5em;
}

#userName {
    position: absolute;
    top: 1em;
    right: 2em;
}

#userName > * {
    margin-left: 0.5em;
}
