@import "colors.css";
@import "fonts.css";
@import "logoff.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'OlivesFont', Fallback, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    background-image:  url(../assets/gras.png);
    background-repeat: repeat;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100vw;
    height: 60vh;
}

#game {
    background-color: var(--game-bg);
    align-items: center;
    justify-content: center;
}

#gameArea {
    width: 520px;
    height: 520px;
    position: relative;
    background-color: var(--game-area-bg);
}

#lobby {
    background-color: var(--lobby-bg);
    padding: 5em;
}

#cursor {
    background-color: var(--game-cursor-self);
    z-index: 2;
}

.cursor {
    position: absolute;
    background-color: var(--game-cursor);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}