#gameResults {
    position: absolute;
    width: 25em;
    height: 30em;
    background: white;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

#gameResultsList {
    width: 100%;
    height: 100%;
    align-items: center;
}

#gameResultsList {
    display: grid;
    grid-auto-rows: 1.5em;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: 30px 220px 50px 100px 100px;
    margin-left: 5em;
}

#gameResults > .buttonRow {
    width: 100%;
    justify-content: flex-end;
}

#gameResults > .buttonRow > * {
    margin-left: 1em;
    margin-bottom: 1em;
}

#gameResults > .buttonRow > *:last-child {
    margin-right: 1em;
}